<div class="container">
  <div class="left-section">
    <h2>
      Descubra mais sobre 
      <span class="math">Matemática</span>, 
      <span class="physics">Física</span> e 
      <span class="chemistry">Química</span> 
      com <span class="ceos">Céos</span>
    </h2>
    <p>
      Facilitamos seus estudos de Física, Química e Matemática com uma ampla coleção de fórmulas e ferramentas interativas para cálculos rápidos e precisos. 
      Seja para resolver exercícios, revisar conceitos ou aprofundar seu conhecimento, nosso site oferece uma experiência intuitiva e prática.
    </p>
  </div>

  <div class="right-section">
    <h4>Conheça nossas ferramentas</h4>
    <div class="tool-buttons">
      <button class="tool math-tool">∞ Matemática</button>
      <button class="tool physics-tool">⧖ Física</button>
      <button class="tool chemistry-tool">⚛ Química</button>
    </div>
  </div>
  
</div>
<br/>
<div class="container2">
    {{>sobre}}  
</div>
