<header class="navbar">
    <div class="logo" href="/">Céos</div>
    <nav>
        <ul class="menu">
            <li class="dropdown">
                <a href="/">Ambiente de Estudo ▼</a>
                <ul class="submenu">
                    <li><a href="#">Química</a></li>
                    <li><a href="#">Física</a></li>
                    <li><a href="#">Matemática</a></li>
                </ul>
            </li>
            <li><a href="/" id="btn-sobre">Sobre</a></li>
            <li><a href="#">Central de Ajuda</a></li>
            <li><a href="#">Planos</a></li>
        </ul>
    </nav>
    <div class="buttons">
        <a href="/login" class="btn btn-light">Entrar</a>
        <a href="#" class="btn btn-dark">Cadastre-se</a>
    </div>
</header>